<h1><%= @recipe.name %></h1>

<%= render 'toggle_visibility_button' %>

<% if current_user == @recipe.user || @recipe.public %>
  <!-- Display recipe details -->
  <p>Preparation time: <%= @recipe.preparation_time %></p>
  <p>Cooking time: <%= @recipe.cooking_time %></p>
  <p>Steps: <%= @recipe.discription %></p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.value %></td>
          <td>
            <!-- Add action button/link here -->
            <%= link_to 'Edit', edit_food_path(food) %>
            <%= link_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user == @recipe.user %>
    <%= link_to 'Add New Food', new_food_path(recipe_id: @recipe.id) %>
  <% end %>
<% else %>
  <p>This recipe is private.</p>
<% end %>