<%= render @recipe %>
<% if current_user.present? && @recipe.user_id == current_user.id %>
<div class="show-links">
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %> |
  <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "button-to-link"%>
</div>
<br>
<div class="buttons-group d-flex justify-content-between">
  <%= link_to "Generate shopping list", general_shopping_list_path, class:"btn btn-primary" %>
  <%= link_to "Add ingredient", new_recipe_recipe_food_url(@recipe), class:"btn btn-primary" %>
</div>
<hr>
<% filtered_recipe_foods = RecipeFood.where(recipe_id: @recipe.id)%>
<table id="recipe-ingredients" class="table table-bordered">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Food</th>
        <th scope="col">total price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Show this food</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
  <% filtered_recipe_foods.each_with_index do |filtered_recipe_food, index| %>
  <% food = Food.find(filtered_recipe_food.food_id) %>
  <% recipe = Recipe.find(filtered_recipe_food.recipe_id) %>
  <tr id="<%= dom_id food %>">
    <th scope="row"><%= index + 1 %></th>
    <td><%= food.name %></td>
    <td><%= food.price * filtered_recipe_food.quantity %> $</td>
    <td><%= food.quantity * filtered_recipe_food.quantity %> <%= food.measurement_unit %></td>
    <td>
      <%= link_to "link", food %>
    </td>
    <td>
      <%= link_to "Modify", edit_recipe_recipe_food_path(recipe, filtered_recipe_food.id) %> |
      <%= button_to "Remove", recipe_recipe_food_url(recipe, filtered_recipe_food.id), method: :delete, class: "button-to-link" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <%= link_to "Back to recipes", recipes_path %>
<% end %>